<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="gdw_stripemx_configprovider" xsi:type="object">GDW\Stripemx\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="GDW\Stripemx\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="gdw_stripemx" xsi:type="const">GDW\Stripemx\Model\Card::CODE</item>
            </argument>
        </arguments>
    </virtualType> 

    <type name="GDW\Stripemx\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
</config>